- content_for :head do
  = javascript_include_tag 'nested_forms'
= simple_form_for(@slide, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    .well
      %h3 Slide image
      .attachments
        .attachment{:name => 'slide_artwork_id'}
          = f.hidden_field :artwork_id
          = link_to '<i class="icon-pencil"></i>'.html_safe, '#', {:class => 'browse_fields btn', :data => {:source => artworks_path, :title => 'Choose an artwork', :target => 'slide_artwork_id'}}
    = f.input :position

  .form-actions
    = f.button :submit, {:class => 'btn btn-primary'}
    = link_to '<i class="icon-remove"></i> Cancel'.html_safe, slides_path, {:class => 'btn'}

= render "shared/modal"