%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => home_index_path} Admin Panel
    %button.navbar-toggler{"aria-controls" => "navbarNavContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %div.collapse.navbar-collapse#navbarNavContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to "Home", home_index_path, :class => "nav-link #{'active' if current_page?(home_index_path)}"

        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "#", :role => "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
            Edit
          %ul.dropdown-menu
            %li
              %h6.dropdown-header Sections
            %li
              = link_to "Studies", studies_path, :class => "dropdown-item"
            %li
              = link_to "Catalog", artworks_path, :class => "dropdown-item"
            %li
              = link_to "Pages", pages_path, :class => "dropdown-item"
            %li
              %hr.dropdown-divider
            %li
              %h6.dropdown-header Organization
            %li
              = link_to "Categories", categories_path, :class => "dropdown-item"
            %li
              = link_to "Techniques", techniques_path, :class => "dropdown-item"
            %li
              = link_to "Images", images_path, :class => "dropdown-item"
            %li
              = link_to "Menu", menu_items_path, :class => "dropdown-item"

        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "#", :role => "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
            Tools
          %ul.dropdown-menu
            %li
              = link_to "View messages", messages_path, :class => "dropdown-item"
            %li
              = link_to "Intro slideshow", slides_path, :class => "dropdown-item"
            %li
              = link_to "Regenerate all thumbnails", home_regenerate_path, :class => "dropdown-item"
            %li
              = link_to "Users", users_path, :class => "dropdown-item"

      %ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        %li.nav-item
          - if current_user
            = link_to "Log out", destroy_user_session_path, method: :delete, :class => "nav-link"
          - else
            = link_to "Log in", login_path, :class => "nav-link"