!!!
%html{:lang => "en"}
  %head
  %title Taryma Administrative Panel
  = stylesheet_link_tag "sessions"
  = javascript_include_tag "sessions"
  = yield :head
  = csrf_meta_tag
  %body{:class => params[:controller]}
    .container
      - flash.each do |key, msg|
        .alert{:class => 'alert-' + key.to_s}
          %a{:class => 'close', :data => {:dismiss => 'alert'}} x
          = msg
      = yield